@mixin baseTheme {
  --font-body: "Poppins", "sans-serif";
  --font-mono: "Roboto Mono", "monoscpace";
  --font-icon: "Material Icons";
}

@mixin darkTheme {
  --color: #ebf4f1;
  --primary-color: #41b38a;
  --secondary-color: #fdf9f3;
  --bg-color: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  @include baseTheme;
}

@mixin lightTheme {
  --color: #243746;
  --primary-color: #158876;
  --secondary-color: #0e2233;
  --bg-color: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  @include baseTheme;

}

@mixin sepiaTheme {
  --color: #433422;
  --secondary-color: #504231;
  --bg-color: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
  @include baseTheme;
}

:root {
  @include lightTheme;
}

:root.dark-mode {
  @include darkTheme;
}

:root.sepia-mode {
  @include sepiaTheme;
}
